# Variables de Entorno para Vercel y Local
PORT=3000
DATABASE_URL=postgresql://postgres.rbeqjkpijxqbyofhstuw:[TU_PASSWORD]@aws-0-us-west-2.pooler.supabase.com:5432/postgres
JWT_SECRET=cast_secret_cns_security_key_2026
